*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

:root{
    --primary: #c52f95;
    --dark:#222;
  --light: #f9f9f9;
}

.navbar{
    height: 5rem;
    width: 100%;
    background-color: var(--dark);
    color: var(--light);
}

.logo{
    height: 50px;
    width: 50px;
    border-radius: 2rem;
}
